.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: blue;
}
.container {
  display: block;
  margin-top: 40px;
  padding: 0 50px 75px;
  border: 1px solid grey;
}
